# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
env.bak/
venv.bak/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
dist-ssr/
*.local

# macOS
.DS_Store

# Temporary files
*.swp
*.bak
*~

# Test Cache
.pytest_cache/

# SQLite
*.db

# Logs
*.log
